#float-label {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 20px;

    .Active {
        transform: translate(0, 5px) scale(0.75);
       
      }

    &:focus-within {
        label {
            transform: translate(0, 12px) scale(0.75);
            font-family: "HMpangram-Light";
        }   
      }

    input {
        width: 100%;
        height: 56px;
        padding: 14px 16px 0 10px;
        outline: none;
        border: none;
        background: #1A1A1A;
      
        font-size: 20px;
        color: #FFFFFF;
      }

      label {
        font-size: 16px;
     
        padding: 0 12px;
        color: #FFFFFF;
        pointer-events: none;
        position: absolute;
        transform: translate(0, 20px) scale(1);
        transform-origin: top left;
        transition: all 0.2s ease-out;
      }
  }
  
  