.container {
    width: 100%;
    margin-bottom: 14px;

    .round {
        position: relative;

        span, a {
        color: white;
        position: absolute;
        left: 30px;
        }

        label {
            background-color: #ffffff;
            border: 1px solid #ccc;
            border-radius: 50%;
            cursor: pointer;
            height: 20px;
            left: 0;
            position: absolute;
            top: 0;
            width: 20px;

            &::after {
                border: 2px solid #fff;
                border-top: none;
                border-right: none;
                content: "";
                height: 5px;
                left: 4px;
                opacity: 0;
                position: absolute;
                top: 4px;
                transform: rotate(-45deg);
                width: 9px;
            }
        }

          input[type="checkbox"] {
            visibility: hidden;

            &:checked + label {
                background-color: #1A1A1A;
                border-color: #cfcfcf;

                &:after {
                    opacity: 1;
                  }
              }
          }
  } 
}
