.app-layout {
    position: relative;
    width: 100%;
    max-width: 428px;
    height: 100%;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    align-items: center;
    

        .arrows {
            display: flex;
            width: 100%;

            &.down {
                justify-content: flex-end;
            }
    
            &.up {
                justify-content: flex-start;
            }

        }

       

        .layout-logo {
        }

        .app-layout-body {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: calc(100vh - 288px);;
            margin: 20px 0;
            padding: 0 44px;
            
        }
    }