.App {
    background-color: #1A1A1A;

    .error-text {
        font-family: "HMpangram-Light";
        color: #ff1212;
        font-size: 12px;
        display: inline-block;
        margin: 5px 0;
    }

    .reg-button {
        width: 100%;
        height: 66px;
        background-color: #636363;
        outline: none;
        color:#FFFFFF;
        font-size: 14px;
        border-radius: 50px;
        border:none;
        font-feature-settings: "case" on;
        text-transform: uppercase;
        cursor: pointer;
    }

    .float-label {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        border-bottom: 1px solid #FFFFFF;
        margin-bottom: 20px;
        padding: 0 10px;
        
        p {
        font-family: "HMpangram-Light";
        color: #cfcfcf !important;
        font-size: 12px !important;
        }
    }

    .reg-input-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            color: #FFFFFF;
            font-feature-settings: "case" on;
            text-transform: uppercase;
        }
    }

    .reg-bottom-cont {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        
    }
    
}

.virt-card {
    transform: rotate(90deg);
    width: 400px;
}