.App {
    .reg-button {
        width: 100%;
        max-width: 325px;
        height: 66px;
        background-color: #636363;
        outline: none;
        color:#FFFFFF;
        font-size: 14px;
        border-radius: 50px;
        border:none;
        font-feature-settings: "case" on;
        text-transform: uppercase;
    }

    .reg-input-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            color: #FFFFFF;
            font-feature-settings: "case" on;
            text-transform: uppercase;
        }
    }

    .reg-bottom-cont {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    
}