body {
  margin: 0;
  font-family: 'HMpangram-Bold', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

@font-face {
  font-family: 'HMpangram-Bold';
  src: url("./assets/fonts/HMpangram-Bold.ttf") format("woff"); 
}

@font-face {
  font-family: 'HMpangram-Light';
  src: url("./assets/fonts/HMpangram-Light.ttf") format("woff"); 
}
*{
  box-sizing: border-box;
  font-family: 'HMpangram-Bold', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
